@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,800;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap");

:root {
  --creamywhite: #fffcf2;
  --light-grey: #ccc5b9;
  --dark-grey: #403d39;
  --black: #252422;
  --orange: #eb5e28;
  --salmon: #ffb4a2;
}

* {
  font-family: Roboto;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--salmon);
  display: grid;
  place-items: center;
  background: rgb(255, 180, 162);
  background: linear-gradient(
    0deg,
    rgba(255, 180, 162, 1) 13%,
    rgba(235, 94, 40, 1) 87%
  );
}

.calculator {
  max-width: 500px;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--dark-grey);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.display {
  border-radius: 5px;
  color: var(--black);
  font-weight: 800;
  font-size: large;
  grid-column: 1/-1;
  background-color: var(--creamywhite);
  padding: 1.5rem;
  text-align: right;
}

.display-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--creamywhite);
  padding: 1.5rem;
  text-align: right;
}

.display-content {
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black);
  font-weight: 800;
  font-size: large;
  transition: transform 0.3s ease-in-out;
}

.display.small {
  font-size: medium;
}

.btn {
  font-weight: 800;
  font-size: large;
  padding: 1rem;
  border: 0;
  border-radius: 30px;
  background-color: var(--light-grey);
  font-family: "Roboto";
  color: var(--black);
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 38px, rgba(0, 0, 0, 0.22) 0px 4px 4px;
}

.btn:hover {
  background-color: var(--orange);
}

#zero {
  grid-column: span 2;
}

#equals {
  grid-row: span 2;
}
